
.container {
    display: block;
    margin: 0 auto;
    width: 1240px;
    height: 768px;
    background: linear-gradient(180deg, #0837B0 0%, #021E66 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.container_btn_count{
    display: block;
    padding-top: 189px;
}

.container_wrap {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    background: #FFFFFF;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}
h1 {
    display: block;
    width: 169px;
    height: 176px;
    margin: 0 auto;
    font-family: Roboto;
    font-size: 150px;
    text-align: center;
    align-items: center;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn-block {
    display: flex;
    justify-content: center;
    margin: 34px auto;
    min-width: 180px;
    height: 80px;
}
button{
    display: block;
    cursor: pointer;
    width: 65px;
    height: 65px;
    border-radius: 4px;
}
#inc{
    background: #089C20;
    margin-right: 34px;
    margin-left: 34px;
}
#dec{
    background: #E7AA10;
}
#res {
    background:#CF1C1C;
}